/* Note there a few "reset" styles given in reset.css. Review those before you begin */
html, body {
    min-height: 100%;
  }
  
  
  /* TYPE DEFAULTS */
  body {
    font: 300 1em/1 'Roboto', helvetica, arial, sans-serif;
    background-image: linear-gradient(rgb(255, 158, 223), rgb(250, 252, 253));
    color: #222;
    padding: 1em;
  }
  
.logo {
    /* text-indent: -999999px; */
    background: url("../img/public buy logo.png");
    /* width:500px; */
    height:85px;
   margin-right:60%;

}

  /* UTILITY CLASSES */
  .inline-list {
    display: flex;
    justify-content: flex-start;
  }
  .btn {
    display: block;
    background-color: rgb(107, 122, 253);
    color: rgb(255, 255, 255);
    padding: 0.5em;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.125em 0.125em 0 rgba(0,0,0,0.8);
  }
  .btn:hover {
    text-shadow: none;
  }
  .contact {
    padding: 1em;
  }
  .room {
    flex-grow: 1;
    text-align: center;
  }
  .room:first-child {
    flex-grow: 0;
  }
  

  
  .card {
    background-color: #fff;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    /* width: auto;
    max-width: 30em; */
    /* width: 30em; */
    margin: 1em 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  .property-group {
    padding: 1em;
    border-bottom: 2px solid #eee;
    display: flex;
    flex-direction: column;
  }
  .property-group:last-child {
    border-bottom: none;
  }
  .room-group {
    flex-grow: 1;
  }
  
  .room-icon {
    height: 2em;
    margin-right: 0.5em;
  }
  .address {
    font-weight: 300;
    font-size: 1em;
    order: 3;
    margin: 0;
  }
  .cost {
    font-size: 2em;
    margin: 0.5em 0;
    order: 2;
  }
  .cost::before {
    content: "$";
  }
  .features {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    order: 1;
  }
  /*  */
  .realtor {
    display: flex;
    line-height: 1.5;
  }
  .realtor-face {
    background-color: rgb(255, 239, 8);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
  }
  .realtor-name {
    font-weight: 700;
  }
  .realtor-num a {
    color: inherit;
    text-decoration: none;
  }
  .topnav {
    overflow: hidden;
    /* background-color: #333; */
    background-image: linear-gradient(rgb(255, 245, 158), rgb(180, 231, 255));
  }
  
  .topnav a {
    float: left;
    color: #af4c96;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
 
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pagination {
  margin-left: 60%;
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
 
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #8134af;
  color: white;
}

  /* Create one more media query */
  
  @media screen and (min-width: 720px) {
    .card {
      width: 34em;
      margin: 0 auto;
    }
  }
